modem.img
system/system/product/priv-app/GmsCore/GmsCore.apk
system/system/product/priv-app/Velvet/Velvet.apk
system/system/system_ext/apex/com.android.vndk.v30.apex
system/system/app/VivoThemeRes/VivoThemeRes.apk
